@keyframes slideInLeft {
    from {
      transform: translateX(-100vw);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .carwash-slide-in {
    display: inline-block;
    animation: slideInLeft 0.7s ease-out forwards;
  }
  
  .premium-fade-in {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  